@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
._fl {
	float: left;
}
._fwfl {
	width: 100%;
	float: left;
}
._ls {
	list-style: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto Mono', monospace;
	background-color: #c9c2b8;
	color: #333;
	font-size: 14px;
}
main {
	width: 1020px;
	margin: 0 auto;
}
.wrapper {
	width: 100%;
	min-height: 1320px;
	float: left;
	margin-top: 100px;
	margin-bottom: 40px;
	background-color: #ebebe9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;
}
.wrapper>.left {
	width: 33%;
	float: left;
	min-height: 1320px;
	padding: 350px 20px 20px 40px;
	background-color: #ddd;
	position: relative;
}
.wrapper>.right {
	width: 67%;
	float: left;
	padding: 350px 40px 20px 20px;
}
.wrapper>header {
	position: absolute;
	width: 100%;
	left: 0;
	padding: 40px;
	z-index: 10;
}
header .header-inside {
	width: 100%;
	min-height: 235px;
	float: left;
	padding: 30px 40px;
	border: solid 5px #444;
	background-color: #ebebe9;
	position: relative;
}
header .header-inside:after {
	content: "";
    position: absolute;
    width: 145px;
    height: 93px;
    left: -10px;
    bottom: -9px;
    background-size: cover;
    background-repeat: no-repeat;
}
.name-job h1 {
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 50px;
}
.name-job h5 {
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	color: #444;
	position: relative;
}
.name-job h5 span {
	position: relative;
	padding-right: 18px;
	background-color: #ebebe9;
	z-index: 10;
}
.name-job h5:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	float: left;
	top: 12px;
	left: 0;
	background-color: #444;
	z-index: 9;
}
header .contact {
	margin-top: 10px;
}
.contact .avatar {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 100%;
	margin-top: -85px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: solid 5px #ddd;
	z-index: 10;
}
header .contact-list {
	padding-left: 220px;
    margin-top: 30px;
}
header .contact-list li {
	position: relative;
	height: 25px;
	line-height: 25px;
	float: left;
	padding-left: 30px;
	margin-right: 18px;
	margin-bottom: 2px;
	color: #555;
}
header .contact-list li:last-child {
	margin-right: 0;
}
.contact-list li i {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #dbdbd9;
	line-height: 25px;
	text-align: center;
	color: #555;
	font-size: 12px;
}

.content-mobile {
	display: none;
}
section.content-box {
	margin-bottom: 50px;
}
section.content-box:last-child {
	margin-bottom: 0;
}
section.content-box>h3.title {
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 3px;
	border-bottom: solid 2px #ccc;
	color: #555;
	position: relative;
}
section.content-box>div.content {
	margin-top: 20px;
}
.skill-list li {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.skill-list li:last-child {
	margin-bottom: 0;
}
.skill-list li span {
	margin-bottom: 5px;
}
.skill-list li div {
	height: 5px;
	background-color: #ccc;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	position: relative;
}
.skill-list li div:before {
	content: "";
	position: absolute;
	height: 5px;
	top: 0;
	left: 0;
	background-color: #999;
	border-radius: 1px;
	-webkit-border-radius: 1px;

}
.skill-list li div.rate-1:before {
	width: 20%;
}
.skill-list li div.rate-2:before {
	width: 40%;
}
.skill-list li div.rate-3:before {
	width: 60%;
}
.skill-list li div.rate-4:before {
	width: 80%;
}
.skill-list li div.rate-5:before {
	width: 100%;
}
.edu-list li {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.edu-list li:last-child {
	margin-bottom: 0;
}
.edu-list li h5 {
	margin-bottom: 2;
	font-size: 14px;
	font-weight: 700;
	text-transform: capitalize;
}
.edu-list li span {
	font-size: 13px;
}
.edu-list li i {
	margin-top: 3px;
	font-size: 13px;
	color: #555;
}
.social-list li {
	width: 100%;
	line-height: 24px;
	float: left;
	margin-bottom: 10px;
	padding-left: 30px;
	position: relative;
	font-size: 13px;
}
.social-list li:last-child {
	margin-bottom: 0;
}
.social-list li a {
	width: 100%;
	float: left;
	color: #555;
}
.social-list li a i {
	position: absolute;
	width: 24px;
	height: 24px;
	line-height: 24px;
	left: 0;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #ccc;
	font-size: 12px;
}
.exp-list {
	position: relative;
}
.exp-list:before {
	content: "";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 0;
	top: 3px;
	background-color: #ccc;
}
.exp-list li {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
.exp-list li * {
	padding-left: 25px;
}
.exp-list li:last-child {
	margin-bottom: 0;
}
.exp-list li h5 {
	margin-bottom: 4px;
	text-transform: uppercase;
	color: #222;
	font-size: 16px;
	position: relative;
}
.exp-list li h5:before {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0;
	margin-left: -6px;
	top: 3px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #ccc;
}
.exp-list li i {
	margin-bottom: 5px;
	text-transform: capitalize;
	color: #222;
	margin-bottom: 10px;
}
.exp-list li div {
	color: #555;
}
@media screen and (max-width: 1024px) {
	main {
		width: 100%;
		margin: 0;
	}
	.wrapper {
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}
@media screen and (max-width: 768px) {
	main {
		width: 100%;
		margin: 0;
	}
	.wrapper {
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	.wrapper>header {
		padding: 15px;
	}
	.wrapper>.left {
		width: 40%;
		padding-top: 360px;
		padding-left: 15px;
	}
	.wrapper>.right {
		width: 60%;
		padding-top: 360px;
		padding-right: 15px;
	}
	header .contact-list {
		padding-left: 260px;
	}
	header .contact-list li {
		width: 100%;
		float: left;
		margin-bottom: 7px;
	}
	header .contact-list li:last-child {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 680px) {
	.wrapper>.left {
		width: 100%;
		min-height: 0;
		padding-top: 400px;
	}
	.wrapper>.right {
		width: 100%;
		padding-top: 50px;
	}
	header .contact-list {
		padding-left: 0;
	}
	.content-desktop {
		display: none;
	}
	.content-mobile {
		display: block;
	}
	section.content-skill {
		margin-bottom: 0;
	}
	header .header-inside:after {
		display: none;
	}
	.contact .avatar {
		left: 50%;
		margin-left: -60px;
		margin-top: -58px;
	}
	header .header-inside {
		min-height: 330px;
	}
}
@media screen and (max-width: 480px) {
	header .header-inside {
		padding: 20px;
		min-height: 300px;
	}
	.name-job h1 {
		font-size: 36px;
	}
	.name-job h5:after {
		display: none;
	}
	header .contact-list {
		margin-top: 15px;
	}
	.wrapper>.left {
		padding-top: 380px;
	}
}
@media screen and (max-width: 320px) {
	header .header-inside {
		min-height: 350px;
	}
	.wrapper>.left {
		padding-top: 430px;
	}
}